name: ci-test

on:
  push:
    paths:
      - "example/**"
      - "kubearmor_receiver/**"
      - "stanza_input_operator/**"
  pull_request:
    branches:
      - "main"
    paths:
      - "example/**"
      - "kubearmor_receiver/**"
      - "stanza_input_operator/**"

jobs:
  build:
    name: Build & test otel-adapter
    if: github.repository == 'kubearmor/otel-adapter'
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: "v1.22"

      - name: Build otel-adapter
        env:
          GO111MODULE: on
          CGO_ENABLED: 0
        run: |
          go install go.opentelemetry.io/collector/cmd/builder@latest
          builder --config=example/collector-builder.yml
